[submodule "extern/fastbuild"]
	path = extern/fastbuild
	url = https://github.com/viknash/fastbuild.git
[submodule "extern/libcds"]
	path = extern/libcds
	url = https://github.com/viknash/libcds.git
[submodule "extern/cpp11-on-multicore"]
	path = extern/cpp11-on-multicore
	url = https://github.com/viknash/cpp11-on-multicore.git
[submodule "extern/green_threads"]
	path = extern/green_threads
	url = https://github.com/viknash/green_threads.git
[submodule "extern/nanomq"]
	path = extern/nanomq
	url = https://github.com/viknash/nanomq.git
[submodule "extern/nanomsg"]
	path = extern/nanomsg
	url = https://github.com/viknash/nanomsg.git
[submodule "extern/premake-core"]
	path = extern/premake-core
	url = https://github.com/viknash/premake-core.git
[submodule "extern/protobuf"]
	path = extern/protobuf
	url = https://github.com/viknash/protobuf.git
[submodule "extern/spartan"]
	path = extern/spartan
	url = https://github.com/viknash/spartan.git
[submodule "extern/sttcl"]
	path = extern/sttcl
	url = https://github.com/viknash/sttcl.git
[submodule "extern/theron"]
	path = extern/theron
	url = https://github.com/viknash/theron.git
[submodule "extern/ThreadPool"]
	path = extern/ThreadPool
	url = https://github.com/viknash/ThreadPool.git
[submodule "extern/intrusive"]
	path = extern/intrusive
	url = https://github.com/viknash/intrusive.git
[submodule "extern/config"]
	path = extern/config
	url = https://github.com/viknash/config.git
[submodule "extern/assert"]
	path = extern/assert
	url = https://github.com/viknash/assert.git
[submodule "extern/core"]
	path = extern/core
	url = https://github.com/viknash/core.git
[submodule "extern/container"]
	path = extern/container
	url = https://github.com/viknash/container.git
[submodule "extern/move"]
	path = extern/move
	url = https://github.com/viknash/move.git
[submodule "extern/static_assert"]
	path = extern/static_assert
	url = https://github.com/viknash/static_assert.git
[submodule "extern/thread"]
	path = extern/thread
	url = https://github.com/viknash/thread.git
[submodule "extern/date_time"]
	path = extern/date_time
	url = https://github.com/boostorg/date_time.git
[submodule "extern/lexical_cast"]
	path = extern/lexical_cast
	url = https://github.com/viknash/lexical_cast.git
[submodule "extern/vld"]
	path = extern/vld
	url = https://github.com/viknash/vld.git
[submodule "extern/functional"]
	path = extern/functional
	url = https://github.com/viknash/functional.git
[submodule "extern/range"]
	path = extern/range
	url = https://github.com/viknash/range.git
[submodule "extern/random"]
	path = extern/random
	url = https://github.com/viknash/random.git
[submodule "extern/iterator"]
	path = extern/iterator
	url = https://github.com/viknash/iterator.git
[submodule "extern/integer"]
	path = extern/integer
	url = https://github.com/viknash/integer.git
[submodule "extern/type_traits"]
	path = extern/type_traits
	url = https://github.com/viknash/type_traits.git
[submodule "extern/mpl"]
	path = extern/mpl
	url = https://github.com/viknash/mpl.git
[submodule "extern/preprocessor"]
	path = extern/preprocessor
	url = https://github.com/viknash/preprocessor.git
[submodule "extern/detail"]
	path = extern/detail
	url = https://github.com/viknash/detail.git
[submodule "extern/concept_check"]
	path = extern/concept_check
	url = https://github.com/viknash/concept_check.git
[submodule "extern/utility"]
	path = extern/utility
	url = https://github.com/viknash/utility.git
[submodule "extern/throw_exception"]
	path = extern/throw_exception
	url = https://github.com/viknash/throw_exception.git
[submodule "extern/numeric_conversion"]
	path = extern/numeric_conversion
	url = https://github.com/viknash/numeric_conversion.git
[submodule "extern/array"]
	path = extern/array
	url = https://github.com/viknash/array.git
[submodule "extern/math"]
	path = extern/math
	url = https://github.com/viknash/math.git
[submodule "extern/predef"]
	path = extern/predef
	url = https://github.com/viknash/predef.git
[submodule "extern/smart_ptr"]
	path = extern/smart_ptr
	url = https://github.com/viknash/smart_ptr.git
[submodule "extern/system"]
	path = extern/system
	url = https://github.com/viknash/system.git
[submodule "extern/chrono"]
	path = extern/chrono
	url = https://github.com/viknash/chrono.git
[submodule "extern/ratio"]
	path = extern/ratio
	url = https://github.com/viknash/ratio.git
[submodule "extern/atomic"]
	path = extern/atomic
	url = https://github.com/viknash/atomic.git
[submodule "extern/bind"]
	path = extern/bind
	url = https://github.com/viknash/bind.git
[submodule "extern/io"]
	path = extern/io
	url = https://github.com/viknash/io.git
[submodule "extern/tuple"]
	path = extern/tuple
	url = https://github.com/viknash/tuple.git
[submodule "extern/exception"]
	path = extern/exception
	url = https://github.com/viknash/exception.git
[submodule "extern/optional"]
	path = extern/optional
	url = https://github.com/viknash/optional.git
[submodule "extern/function"]
	path = extern/function
	url = https://github.com/viknash/function.git
[submodule "extern/type_index"]
	path = extern/type_index
	url = https://github.com/viknash/type_index.git
[submodule "extern/align"]
	path = extern/align
	url = https://github.com/boostorg/align.git
[submodule "extern/algorithm"]
	path = extern/algorithm
	url = https://github.com/viknash/algorithm.git
[submodule "extern/tokenizer"]
	path = extern/tokenizer
	url = https://github.com/viknash/tokenizer.git
[submodule "extern/unordered"]
	path = extern/unordered
	url = https://github.com/viknash/unordered.git
[submodule "extern/executors"]
	path = extern/executors
	url = https://github.com/viknash/executors.git
[submodule "extern/build"]
	path = extern/build
	url = https://github.com/viknash/build.git
[submodule "extern/boost"]
	path = extern/boost
	url = https://github.com/viknash/boost.git
